body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0, 0, 10px rgba(0,0,0,0.1)
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid rgb(255, 249, 249);
    padding: 10px;
    text-align: left;
}

.img-align {
    text-align: center;
}

.char-names {
    text-align: center;
}

th {
    background-color: black;
    color: white;
    text-align: center;
}

.quote {
    font-style: italic;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;
}